.layout {
  height: 635px;
  .header {
    display: flex;
    align-items: center;
    padding: 0;
    .logo {
      width: 150px;
      height: 32px;
      color: #fff;
      p {
        text-align: center;
        height: 100%;
        line-height: 32px;
        font-size: 20px;
      }
    }
    .login {
      position: absolute;
      top: 0;
      right: 30px;
      font-size: 25px;
      background-color: #001529;
      color: #fff;
      padding-top: 20px;
    }
  }
  .sider {
    position: relative;
    .coll {
      color: #fff;
      position: absolute;
      bottom: 80px;
      left: 30px;
      font-size: 20px;
    }
  }
}
